body{
    font-family: 'Playfair Display', serif;
    background-color: #DAE8E4;
}
::selection{
    background-color: #a8ffad;
}
#game-grid{
    height: 400px;
    width: 320px;
    margin: 30px auto;
}
.dot{
    height: 10px;
    width: 10px;
    background-color: #6F73CC;
    border-radius: 50%;
    float: left;
}
#row1, #row3, #row5, #row7, #row9{
    height: 11px;
    width: 320px;
    float: left;
}
.vert-line, .line {
    background-color: rgb(235, 235, 235);
    float: left;
    border-radius: 20%;
}
.line{
    height: 11px;
    width: 51px;
}
.line:hover, .vert-line:hover {
    background-color: rgb(141, 144, 196);
}
.vert-line{
    width: 10px;
    height: 52px;
}
.box{
    width: 51px;
    height: 50px;
    float: left;
}
#row2{
    height: 55px;
    width: 320px;
    float: left;
}
#score-p1, #score-p2, h1, #players-turn-text, footer {
    margin: 0 auto;
    text-align: center;
}
.clicked{
    background-color: goldenrod;
}
.player1won, #score-p1{
    background-color: #8A4FFF;
}
.player2won, #score-p2{
    background-color: #C3BEF7;
}
#score-p1, #score-p2 {
    width: 200px;
    border-radius: 45%; 
}
.game-over{
    color: red;
    background-color: black;
    font-size: 25px;
}